{
  "semi": false,
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": ["*.html", "legacy/**/*.js", "*.svelte"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
